.App {
  min-height: 100vh;
  width: 50%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: white; */
}

.logo {
  height: 20vmin;
}
